@import url(/stylesheets/monitor-view/minigame.css);
@import url(/stylesheets/monitor-view/minigames/brick-breaker.css);

/* Score Styles */

#score {
    padding: 3px 6px;
    padding: 2px 9px;
    background-color: rgb(219, 160, 255);
    color: rgb(70, 0, 110);
    border-radius: 5px;
    margin-bottom: 0.5vh;
    border: 2px solid rgb(70, 0, 110);
}

#score:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: url(/images/cursor.cur),auto;
}