@import url(/stylesheets/monitor-view/minigame.css);

/* Game Container Styles */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-top: -10vh;
    margin-left: 0.45vw;
}

canvas {
    border: 2px solid rgb(70, 0, 110);
    border-radius: 19px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Button Styles */

#retryButton {
    font-size: 16px !important;
    background-color: rgb(219, 160, 255);
    color: rgb(70, 0, 110);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(70, 0, 110);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#retryButton:hover {
    background-color: rgb(227, 181, 255);
    cursor: url(/images/cursor.cur), auto;
    transition: 0.5s;
}

.material-symbols-outlined.replay {
    color: rgb(70, 0, 110);
}