@import url(/stylesheets/monitor-view/main_menu.css);
@import url(/stylesheets/monitor-view/more_about_me.css);
@import url(/stylesheets/monitor-view/project.css);

/* Content Style */

.content {
    display: grid;
    grid-template-columns: repeat(5, 17vh);
    grid-template-rows: 1fr;
    gap: 10px;
    margin-left: 11vh;
    margin-top: 15vh;
}

/* Game Container Styles */

.game-box {
    padding: 6vh;
    background-color: rgb(241, 218, 255);
    height: 8vh;
    border-radius: 19px;
}

.game-box:hover {
    background-color: rgb(209, 135, 255);
    transition: 0.5s;
    cursor: url(/images/cursor.cur),auto;
}

.icon {
    margin-top: -6.5vh;
    margin-left: -2vw;
    height: 6vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: url(/images/cursor.cur),auto;
    padding: 6vh;
}

/* Background Image Styles */

.icon.itic-tac-toe { background-image: url(/images/tic-tac-toe.png); }

.icon.ipong { background-image: url(/images/pong.png); }

.icon.ifruit-ninja { background-image: url(/images/fruit-ninja.png); }

.icon.ibreak-breaker { background-image: url(/images/brick-breaker.png); }

.icon.i2048 { background-image: url(/images/2048.png); }

/* Title Styles */ 

.game-title {
    font-size: 12px;
    text-align: center;
    margin-top: -1vh;
    color: rgb(70, 0, 110);
    white-space: nowrap;
    font-weight: 600;
}

.game-title.tic-tac-toet { margin-left: -1.2vw; }

.game-title.brick-breakert { margin-left: -1.5vw; }

.game-title.fruit-ninjat { margin-left: -1vw; }
