@import url(/stylesheets/monitor-view/main_menu.css);

/* Monitor Style */

.inner-monitor-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Window Style */

.window {
    background-image: url(/images/windows-background.png) !important;
    background-size: cover;
    margin: 0.5cm;
    border-radius: 19px;
    overflow: hidden;
    border-style: solid;
    border-width: 0.1cm;
    border-color: #9972B0;
    width: calc(100% - 10cm); 
    height: calc(100% - 3cm);
    cursor: url(/images/cursor.cur),auto;
    margin: 0.5cm;
}

/* Header Style */

.window-header {
    background-color: #bc8dd8;
    color: white;
    font-size: 0.5cm;
    text-align: center;
    padding: 0.25cm;
    border-bottom: 0.1cm solid white;
    display: flex;
    justify-content: space-between;
}

.window-header-title { margin: auto; }

.material-symbols-outlined.close { 
    color: white; 
    font-size: 24px !important;
    cursor: url(/images/cursor.cur),auto;
}

.material-symbols-outlined.close:hover { 
    color: #f8f8f872; 
}

/* Content Style */

.content {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto; 
    gap: 90px; 
    align-items: start; 
    grid-auto-rows: minmax(1px, auto);
    grid-auto-columns: minmax(1px, auto);
}

/* Picture Style */

.picture {
    grid-column: 1; 
    grid-row: 1;
    background-image:url(/images/simriti.jpg);
    background-size: contain;
    border: 5px solid  rgb(241, 218, 255);
    border-radius: 19px;
    margin-left: 5vw; 
    margin-top: 2vh;
    width: 9vw;
    padding: 10vw;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
}

.picture:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: url(/images/cursor.cur),auto;
}

/* Name Style */

.name {
    grid-column: 1; 
    grid-row: 2; 
    background-color: rgb(241, 218, 255); 
    padding: 1vw;
    margin-top: -9vh;
    margin-left: 7.3vw;
    height: 7.2vw;
    width: 14vw;
    border-radius: 19px;
}

.name:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: url(/images/cursor.cur),auto;
}

.name-written {
    margin-top: -0.7vw;
    margin-left: 1.2vw;
    color: rgb(70, 0, 110);
    font-size: 20px;
}

.name-line-one {
    margin-top: -1.1vw;
    margin-left: 1.2vw;
    color: rgb(70, 0, 110);
    font-size: 12px;
}

.name-line-two {
    margin-top: -0.8vw;
    margin-left: 5.1vw;
    color: rgb(70, 0, 110);
    font-size: 12px;
}


.name-line-three {
    margin-top: -0.7vw;
    margin-left: 4.3vw;
    color: rgb(70, 0, 110);
    font-size: 12px;

}

.name-line-four {
    margin-top: -0.5vw;
    margin-left: 2.5vw;
    color: rgb(70, 0, 110);
    font-size: 12px;
}

.material-symbols-outlined.location{
    color: rgb(70, 0, 110);
    font-size: 12px !important;
}

.material-symbols-outlined.code, 
.material-symbols-outlined.game, 
.material-symbols-outlined.movie, 
.material-symbols-outlined.book {
    color: rgb(70, 0, 110);
    font-size: 17px !important;
    border: 1px solid rgb(70, 0, 110);
    padding: 5px; 
    background-color: rgb(219, 160, 255); 
    border-radius: 5px;
}

.material-symbols-outlined.code:hover, 
.material-symbols-outlined.game:hover, 
.material-symbols-outlined.movie:hover, 
.material-symbols-outlined.book:hover {
    background-color: rgb(241, 218, 255); 
} 

/* Skills Style */

.skills {
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(241, 218, 255); 
    font-size: 12px;
    padding: 1vw;
    margin-top: 2vh;
    margin-left: -8vw;
    width: 29vw;
    height: 13vh;
    border-radius: 19px;
    color: rgb(70, 0, 110); 
}

.skills:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: url(/images/cursor.cur),auto;
}

.skills-title {
    margin-top: -2.7vh;      
}

.skills-description {
    margin-top: -1vh;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}

.skills-description p {
    border: 1px solid rgb(70, 0, 110); 
    padding: 5px; 
    background-color: rgb(219, 160, 255); 
    border-radius: 5px; 
    margin: 5px; 
}

.skills-description p:hover {
    background-color: rgb(241, 218, 255);
}

/* Experience Style */

.experience {
    grid-column: 2;
    grid-row: 2;
    font-size: 6px;
    background-color: rgb(241, 218, 255); 
    padding: 1vw;
    margin-top: -28.5vh;
    margin-left: -8vw;
    width: 29vw;
    height: 32.5vh;
    border-radius: 19px;
    font-size: 12px;
}

.experience:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: url(/images/cursor.cur),auto;
}

.experience-title {
    margin-top: -1vh; 
    color: rgb(70, 0, 110);   
    margin-bottom: 1.4vh;     
}

.line {
    margin-top: -1vh;
    margin-left: 0.5vw;         
    border-left: 2px solid rgb(70, 0, 110);
    height: 30vh;
}

.top-circle, 
.bottom-circle {
    margin-top: 1vh;
    margin-left: -0.55vw; 
    width: 15px; 
    height: 15px; 
    border-radius: 50%; 
    background-color: rgb(70, 0, 110); 
}

.first-circle-title,
.second-circle-title {
    margin-top: -2vh;
    margin-left: 1vw;
    color: rgb(70, 0, 110);
    font-weight: bolder;
}

.first-circle-1subtitle,
.first-circle-2subtitle,
.second-circle-1subtitle,
.second-circle-2subtitle {
    margin-top: -1.5vh;
    margin-left: 1vw;
    color: rgb(70, 0, 110);
}

.first-circle-1bullet-pt,
.second-circle-1bullet-pt {
    margin-top: -1vh;
}

.first-circle-2bullet-pt,
.second-circle-2bullet-pt {
    margin-top: -1.5vh;
}

.first-circle-1bullet-pt,
.first-circle-2bullet-pt,
.second-circle-1bullet-pt,
.second-circle-2bullet-pt {
    margin-left: 1vw;
    color: black;
    position: relative;
    padding-left: 10px;
}

.first-circle-1bullet-pt::before,
.first-circle-2bullet-pt::before,
.second-circle-1bullet-pt::before,
.second-circle-2bullet-pt::before {
    content: '•';
    position: absolute;
    left: 0;
    color: black;
}
